@use 'sass:color';

$color1: #FAFAFA;
$color2: #054CC0;
$color3: #FC5836;
$color4: #FEC305;
$color5: #26C465;

$color1_2: #EBF0FB;

$color2_light: color.adjust($color2, $lightness: 40%);
$color3_light: color.adjust($color3, $lightness: 40%);
$color4_light: color.adjust($color4, $lightness: 40%);
$color5_light: color.adjust($color5, $lightness: 40%);

$color1_dark: color.adjust($color1, $lightness: -40%);
$color2_dark: color.adjust($color2, $lightness: -40%);
$color3_dark: color.adjust($color3, $lightness: -40%);
$color4_dark: color.adjust($color4, $lightness: -40%);
$color5_dark: color.adjust($color5, $lightness: -40%);

@mixin for-size($size) {
  @if $size == phone-only {
    @media (max-width: 599px) { @content; }
  } @else if $size == tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  } @else if $size == tablet-portrait {
    @media (min-width: 600px) and (max-width: 899px) { @content; }
  } @else if $size == tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  } @else if $size == desktop-up {
    @media (min-width: 1200px) { @content; }
  } @else if $size == big-desktop-up {
    @media (min-width: 1800px) { @content; }
  }
}
