[Unit]
Description=Lernib Website
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ec2-user
ExecStart=/bin/bash -l -c 'exec "$@"' _ node build
WorkingDirectory=/var/app

[Install]
WantedBy=multi-user.target